<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.feedbacker.mapper.ProfileMapper">
  <resultMap id="BaseResultMap" type="com.example.feedbacker.entity.Profile">
    <!--@mbg.generated-->
    <!--@Table profiles-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="bio" jdbcType="LONGVARCHAR" property="bio" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, display_name, avatar_url, bio
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from profiles
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from profiles
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from profiles
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.feedbacker.entity.Profile" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into profiles (user_id, display_name, avatar_url, 
      bio)
    values (#{userId,jdbcType=BIGINT}, #{displayName,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR}, 
      #{bio,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.feedbacker.entity.Profile" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into profiles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="displayName != null">
        display_name,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
      <if test="bio != null">
        bio,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="displayName != null">
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="bio != null">
        #{bio,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.feedbacker.entity.Profile">
    <!--@mbg.generated-->
    update profiles
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="displayName != null">
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="bio != null">
        bio = #{bio,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.feedbacker.entity.Profile">
    <!--@mbg.generated-->
    update profiles
    set user_id = #{userId,jdbcType=BIGINT},
      display_name = #{displayName,jdbcType=VARCHAR},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      bio = #{bio,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByUserId" parameterType="com.example.feedbacker.entity.Profile">
    <!--@mbg.generated-->
    update profiles
    set display_name = #{displayName,jdbcType=VARCHAR},
    avatar_url = #{avatarUrl,jdbcType=VARCHAR},
    bio = #{bio,jdbcType=LONGVARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>